* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  padding-top: 50px;
}

.search {
  width: 480px;
  height: 70px;
  border: 12px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  text-align: center;
  outline: none;
  z-index: 1;
}

.search::placeholder {
  font-size: 30px;
  text-align: center;
}

.suggestions {
  transform: translateY(2px);
}

.suggestions li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 380px;
  height: 55px;
  padding: 0 20px;
  background-color: #f1f1f1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-weight: lighter;
  text-transform: capitalize;
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg);
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg);
}

li .hl {
  background-color: #ffc600;
}
